@page "/aboutus"

<!--Main Container-->
<div class="container mt-5">
    <center><h3 class="mt-5 bordor p-1 d-inline-flex">ABOUT US</h3></center>
    <p class="mt-4 font col-md-6">
        We are a Team of Professionals Pharmists & Doctors,
        our moto is to provide 100% pure and sure medicine
        at your door step. We prefer your health not the
        money. We Hope you will recover soon, May ALLAH
        Protects you and your family.
    </p>
    <h2 class="textalign mt-4">REGARDS: PHARMA+</h2>
    <a href="/" class="btn rounded-5 bgcolor text-white mt-3 mb">BACK TO HOME</a>
</div>

@code {

}
