@page "/contactus"

<!--Contact-->
<div class="container Margin">
    <center><h3 class="mt-5 bordor p-1 d-inline-flex">Contact Us</h3></center>
    <div class="row my-5">
        <div class="col-md-6">
            <iframe class="w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9553.04508322006!2d74.18757881083343!3d32.163479515604735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391f2a275eca49fd%3A0xeebbf7d5b4d216ae!2sNirala%20Hotel!5e0!3m2!1sen!2s!4v1661871369217!5m2!1sen!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-6">
            <form action="">
                <input type="text" placeholder="First Name" class="p-2 d-block mw-100 w-100 mt-5 mt-md-0">
                <input type="text" placeholder="Last Name" class="p-2 d-block mw-100 w-100 mt-3">
                <input type="text" placeholder="Email" class="p-2 d-block mw-100 w-100 mt-3">
                <textarea name="" rows="2" placeholder="Massege" class="p-2 d-block mw-100 w-100 mt-3"></textarea>
                <input type="submit" value="send" class="btn bgcolor rounded-5 px-5 text-white mt-5 float-end">
            </form>
        </div>
    </div>
</div>

@code {

}
