@page "/"

<!--Main-->
<div class="bgmain vh">
    <div class="container mt">
        <h2 class="color">PHARMA+</h2>
        <p class="mt-4 mb-0">A Solution to your Medicines</p>
        <p class="fontbold">100% Prue  Medicines</p>
        <form action="" class="mt-5">
            <input type="search" placeholder="Enter Medicine Name" class="rounded-5">
            <button class="btn bgcolor rounded-5 px-4 text-white">Search</button>
        </form>
        <center><button class="btn boxborder rounded-5 vheight" onclick="document.getElementById('service').scrollIntoView({behavior:'smooth'})">v</button></center>
    </div>
</div>
<!--OurService-->
<div class="container-fluid vh-100 bgservice" id="service">
    <center><h3 class="mt-5 bordor p-1 d-inline-flex">Our Services</h3></center>
    <div class="row mt-5">
        <div class="col-md-6 m-4">
            <div class="row mt-3">
                <div class="col-4">
                    <a href="order" class="nav-link">
                        <div class="boxborder rounded-3 px-5 py-4 w-75 mx-auto">
                            <img src="/search.png" alt="search" width="40"/>
                        </div>
                        <p class="mt-3 text-center text-dark">GET A MEDICINE</p>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#" class="nav-link">
                        <div class="boxborder rounded-3 px-5 py-4 w-75 mx-auto">
                            <img src="/prescription.png" alt="prescription" width="40"/>
                        </div>
                        <p class="mt-3 text-center text-dark">GIVE PRESCEPTION</p>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#" class="nav-link">
                        <div class="boxborder rounded-3 px-5 py-4 w-75 mx-auto">
                            <img src="/advise.png" alt="search" width="40" />
                        </div>
                        <p class="mt-3 text-center text-dark">GET AN ADVISE</p>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <a href="#" class="nav-link">
                        <div class="boxborder rounded-3 px-5 py-4 w-75 mx-auto">
                            <img src="/request.png" alt="search" width="40" />
                         </div>
                        <p class="mt-3 text-center text-dark">REQUEST A MEDICINE</p>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#" class="nav-link">
                        <div class="boxborder rounded-3 px-5 py-4 w-75 mx-auto">
                            <img src="/complain.png" alt="search" width="40"/>
                        </div>
                        <p class="mt-3 text-center text-dark">ADD A COMPLAINT</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Testimonials-->
<center><h3 class="mt-5 bordor p-1 d-inline-flex">Testimonials</h3></center>
<div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <div class="card border-0">
                        <div class="card-body">
                            <center><img src="img/test.jpg" alt="" class="round w-100"></center>
                            <h5 class="card-title text-center mt-3">Hamza</h5>
                            <p class="card-text text-center mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quam itaque consectetur modi qui, veritatis maiores laudantium facere.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mx-4">
                    <div class="card border-0">
                        <div class="card-body">
                            <center><img src="img/test.jpg" alt="" class="round w-100"></center>
                            <h5 class="card-title text-center mt-3">Azhar</h5>
                            <p class="card-text text-center mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quam itaque consectetur modi qui, veritatis maiores laudantium facere.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-0">
                        <div class="card-body">
                            <center><img src="img/test.jpg" alt="" class="round w-100"></center>
                            <h5 class="card-title text-center mt-3">Hamid</h5>
                            <p class="card-text text-center mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quam itaque consectetur modi qui, veritatis maiores laudantium facere.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <div class="card border-0">
                        <div class="card-body">
                            <center><img src="img/test.jpg" alt="" class="round w-100"></center>
                            <h5 class="card-title text-center mt-3">Ali</h5>
                            <p class="card-text text-center mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quam itaque consectetur modi qui, veritatis maiores laudantium facere.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mx-4">
                    <div class="card border-0">
                        <div class="card-body">
                            <center><img src="img/test.jpg" alt="" class="round w-100"></center>
                            <h5 class="card-title text-center mt-3">Aslam</h5>
                            <p class="card-text text-center mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quam itaque consectetur modi qui, veritatis maiores laudantium facere.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-0">
                        <div class="card-body">
                            <center><img src="img/test.jpg" alt="" class="round w-100"></center>
                            <h5 class="card-title text-center mt-3">Arman</h5>
                            <p class="card-text text-center mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quam itaque consectetur modi qui, veritatis maiores laudantium facere.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="43" viewBox="0 0 57 65">
            <path id="Polygon_1" data-name="Polygon 1" d="M25.55,12.189a8,8,0,0,1,13.9,0l18.73,32.849A8,8,0,0,1,51.23,57H13.77a8,8,0,0,1-6.95-11.963Z" transform="translate(0 65) rotate(-90)" fill="#5ed28d" />
        </svg>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="43" viewBox="0 0 57 65">
            <path id="Polygon_2" data-name="Polygon 2" d="M25.55,12.189a8,8,0,0,1,13.9,0l18.73,32.849A8,8,0,0,1,51.23,57H13.77a8,8,0,0,1-6.95-11.963Z" transform="translate(57) rotate(90)" fill="#5ed28d" />
        </svg>
    </button>
</div>
<!--Contact-->
<div class="container">
    <center><h3 class="mt-5 bordor p-1 d-inline-flex">Contact Us</h3></center>
    <div class="row mt-5">
        <div class="col-md-6">
            <iframe class="w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9553.04508322006!2d74.18757881083343!3d32.163479515604735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391f2a275eca49fd%3A0xeebbf7d5b4d216ae!2sNirala%20Hotel!5e0!3m2!1sen!2s!4v1661871369217!5m2!1sen!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-6">
            <form action="">
                <input type="text" placeholder="First Name" class="p-2 d-block mw-100 w-100 mt-5 mt-md-0">
                <input type="text" placeholder="Last Name" class="p-2 d-block mw-100 w-100 mt-3">
                <input type="text" placeholder="Email" class="p-2 d-block mw-100 w-100 mt-3">
                <textarea name="" rows="2" placeholder="Massege" class="p-2 d-block mw-100 w-100 mt-3"></textarea>
                <input type="submit" value="send" class="btn bgcolor rounded-5 px-5 text-white mt-5 float-end">
            </form>
        </div>
    </div>
</div>