<!--Header-->
<header>
    <nav class="navbar fixed-top bg-white shadow-sm navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">Pharma Plus</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <NavLink class="nav-link active" aria-current="page" href="/">Home</NavLink>
                    <NavLink class="nav-link" href="order">Order Medicine</NavLink>
                    <NavLink class="nav-link" href="contactus">Contact Us</NavLink>
                    <NavLink class="nav-link" href="aboutus">About Us</NavLink>
                    <LoginDisplay />
                </div>
            </div>
        </div>
    </nav>
</header>

@code {

}
